.backBody{
    background-color: rgb(204, 204, 196);
    height: 90vh;
    width: 100vw;
    display: flex;
    /* place-items: center;
    text-align: center;
     align-items: center; 
    justify-content: center; */
}
.tableDiv{
    border: 1px solid gray;
    border-radius: 10px;
    height: auto;
    width: 50vw;
    margin: 20px;
    background-color: aquamarine;
   
}
.movieForm{
    height: auto;
    margin-left: 20px;
    margin-top: 40px;
}