.backBody{
    background-color: beige;
    height: 90vh;
    width: 100vw;
    display: flex;
    /* place-items: center;
    text-align: center;
     align-items: center; 
    justify-content: center; */
}
.tableDiv{
    border: 1px solid gray;
    border-radius: 10px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
    margin: 20px;
    background-color: aquamarine;
   
}
.movieForm{
    height: auto;
    margin-left: 20px;
    margin-top: 40px;
}
.line{
    background-color: black;
}
.loadBtn{
    background-color: green;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    margin: 10px;
}